body {
    background: #f4f4f4;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.login-container {
    max-width: 350px;
    background: white;
    margin: 70px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px #ccc;
}

.login-container input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.login-container button {
    width: 100%;
    background: #0066ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
}

.top-bar {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.filters {
    padding: 10px;
    background: white;
    margin: 10px;
    border-radius: 6px;
    display: flex;
    gap: 10px;
}

table {
    width: 100%;
    background: white;
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

.statusBadge {
    padding: 4px 8px;
    border-radius: 6px;
    color: white;
}

.statusBadge.Pending {
    background: orange;
}

.statusBadge.Approved {
    background: green;
}

.statusBadge.Rejected {
    background: red;
}

.actionBtn {
    padding: 7px 10px;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.approveBtn { background: #0a8f00; }
.rejectBtn  { background: #b30000; }
