body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f3f6fa;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {
    background: #002f6c; /* Sodexo dark blue */
    color: white;
    padding: 18px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

/* LOGIN PAGE */
.login-container {
    max-width: 420px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.15);
}

.login-container h2 {
    text-align: center;
    color: #002f6c;
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    color: white;
    background: #e2231a; /* Sodexo red */
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

/* DASHBOARD */
.filter-panel {
    display: flex;
    gap: 20px;
    padding: 15px;
    background: white;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.table-container {
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

th {
    background: #002f6c;
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.statusBadge {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: white;
}

.statusBadge.Pending {
    background: orange;
}

.statusBadge.Approved {
    background: green;
}

.statusBadge.Rejected {
    background: red;
}

textarea {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.actionBtn {
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
    width: 80px;
    border: none;
    border-radius: 6px;
    color: white;
}

.approveBtn {
    background: #00793e;
}

.rejectBtn {
    background: #d11a2a;
}

.logout-btn {
    background: #444;
    padding: 10px 20px;
    float: right;
    margin-right: 15px;
    border-radius: 5px;
}
